.header{
   grid-area: hed;
   background-color:red;
   
   }
   .img{
     width: 50px;
     height: 60px;
   }
   .loginBlock{
       float:right;
       font-size: 16px;

   }
.loginBlock a{
    color: white;
    font-weight: 700;
    text-decoration: none;
    margin-right: 15px;
    line-height: 60px;
}