.nav{
   grid-area: nav;
   background-color: darkgreen;
   text-align: center;
    padding: 20px;
  }
   .item a{
     color: #fff;
       text-decoration: none;
       padding-bottom: 10px;
  }
  .item .active{
     color: gold;
  }