.app-wrapper{
  display: grid;
  margin: 0 auto;
  max-width:  1200px;

grid-template-areas: 
"hed hed"
"nav con"
;

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap:10px;
}

.app-wrapper-content{
  grid-area: con;
  background-color: aqua;
}
